.card {
	position: relative;
	cursor: pointer;
	background-color: unset;
	border: none;
}

.card img {
	width: 100%;
	display: block;
	border-radius: 6px;
	box-sizing: border-box;
	background-color: #4c566a;
}

/* front of card - the picture */
.card .front {
	transform: rotateY(90deg);
	transition: all ease-in 0.2s;
	position: absolute;
	padding: 20px;
}

.flipped .front {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.flipped .front.matched {
	background: #a3be8c;
}

/* front of card - the cover */
.card .back {
	transition: all ease-in 0.2s;
	transition-delay: 0.2s;
}

.flipped .back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}
