.Game {
	margin: 40px auto;
}

button {
	background: none;
	border: 2px solid #fff;
	padding: 6px 12px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 0.9em;
	margin: 0 10px;
}

.card-grid {
	margin-top: 40px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 20px;
}

@media screen and (max-width: 1024px) {
	.card-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.card-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
