body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	font-size: 1.25em;
	text-align: center;
	background: #3b4252;
}

h1 {
	color: #d8dee9;
}

.navbar-collapse {
	flex-direction: row-reverse;
}

.form-select {
	min-width: 150px;
}
